@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body::after {
    content: "";
    display: block;
    background-color: #000;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    /*z-index: -1;*/
}

#myvid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.click {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.35);
    transform-origin: center;
    color: deepskyblue;
    transition: all .4s ease-in-out;
    z-index: 1;
}

.click:hover {
    transform: translate(-50%, -50%) scale(.5) rotate(-360deg);
}

a {
    text-decoration: none;
    font-size: 70px;
    text-align: center;
}

span {
    font-weight: bold;
    color: #fff;
    display: block;
}
